html {
    height: 100%;
}

body {
  background-image: url(../images/oldback.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  margin: none;
  font-family: Roboto Mono;
}
img{
  max-height: 150px;
  max-width: 200px;
  width: 95%;
  height: 95%;
}

.apphead {
  color: white;
  left: 50px;
  font-size: 400%;
  font-weight: lighter;
  position : absolute;
  width: 90%;
  border-bottom: solid 1px white;
}

.datetime {
  width: 25%;
  float: right;
  text-align: center;
  margin-right: 20px;
  /* color: white; */
  /* text-shadow: 1px 1px 3px #000000; */
}

.hide {
  display: none;
}

.col-sm-1 {
  border-right: solid 1px grey;
}

.col-sm-1 .row {
  min-height: 60px;

  margin : 10px 5px;
  border-radius: 3px;
}

.fadeIn {
  opacity: 0;
  animation: fadeIn 1s forwards alternate;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-275px);
  }
  30% {
    opacity: 0.5;
    
  }
  100% {
    opacity: 1;
    transform: translateX(50px);
  }
}

#home {
  height: 100%;
}

#mainRow {
  height: 96%;
  padding: 5px;
}

#clock {
  font-size: 500%;
  font-weight: 100;
}

#loginPage {
  height: 100%;
}

#Input {
  max-width: 95%;
  margin: 0 auto;
  position: absolute;
  bottom: 10px;
  left: 3px;
  right: 3px;
}

#username {
  color : rgb(255, 255, 255, 0.7);
  font-size: 200%;
  margin-left: 10px;
}

#log {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  box-shadow: 3px 2px 4px rgba(0, 0, 0, .5);
  padding: 10px 5px;

  min-width: 350px;
  width: 30%;
  min-height: 70px;
  height: 20%;

  margin: auto;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
}

#logout {
  position: absolute;
  width : 65%;
  bottom: 0;
}

#watermark {
      position: absolute;
			bottom: 0;
			right: 4%;
			font-size: 500%;
			color: rgba(0, 0, 0, 0.4);
			font-weight: 100 !important;
}

#appContain {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  margin: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
}


img.statimg {
  float: right;
  
  margin-left: 15px;
  margin-right: 15px;
  padding: 0;
  width: 32px;
  height: 32px;
  
}

#accordion {
  margin: 10px;
  height : 77%;
  top:120px;
  left: 0;
  right:0;
  position:absolute;
}

#statusbar {
  background: linear-gradient( rgba(0, 0, 0, 0.4) , rgba(0, 0, 0, 0.6));
  color : white;
  padding: 5px 20px 10px 20px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

#appIcon {
  min-height: 120px;
  max-width: 120px;

  margin : 0px 35px;
  border-radius: 5px;
}
