body {
    background-image: url(../images/client-server.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin: none;
    font-family: Roboto Mono;
  }
.center{
    margin: auto; 
    max-width: 300px;
}
.row{
    margin-top: 20px;
}
.image{
    margin-top: 50px;
    width: 200px;
    height: 200px;
    
    padding: 10px;
    border-radius: 5px;
}
.btn-default{
    background-color:rgb(211,211,211);
  }
.image1{
    margin-top: 150px;
    width: 200px;
    height: 200px;
    
    padding: 10px;
    border-radius: 5px;
}
.card {
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 50px;
}


.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.container {
    padding: 2px 16px;
}
#configure{
    display: none ;
    text-align: left;
    
}
#configure span{
    margin: 10px 10px;
    
}
#configureC{
    display: none ;
    text-align: left;
}
#responses{
    text-align: left
}
span{
    margin: 10px;
}
button{
    width: 200px;
    margin-top: 15px;
}