{% load static %}
<html>
<form action="{% url 'scheduling' %}" method="POST">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type='text/javascript' src='{% static 'proc_sch/inputpri.js' %}'></script>
  <script type='text/javascript' src='{% static 'proc_sch/displaypri.js' %}'></script>
  <link rel="stylesheet" href='{% static 'proc_sch/demo1.css' %}'>
        <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


        <script type="application/javascript">
            var x;

            function printing(result){
                //alert(String(result));
    //var result =   localStorage.getItem("result");
    //    alert(String(result));
    //console.log(text);
    //$.post('/process/gateway/',{value:text, algo:alg}, function(result){
      sequence = result["gantt"];
      a = result["table"];
      avgwt =0;
      avgtat =0;
      for(i=0;i<a.length;++i){
        avgwt += a[i].wt;
        avgtat += a[i].tat;
      }
      total = sequence.length;
      pixel = 0;
      i = 0;
      $('#outer-div,#comments,#ptable,#gantth').empty();
      // $('#thead').append('<th>PNO.</th> <th>Arrival time</th>  <th>Burst time</th>  <th>Completion time</th>  <th>Waiting time</th>  <th>Turn-around time</th>');
      totalTime = sequence[total-1].stop;
      pixel = parseInt(800/totalTime);
      containerWidth = pixel*totalTime + 2;
      $('#outer-div').css('width',containerWidth+'px');
      displayBlock(i);
            }

            $(document).ready(function(){
                $("#continue").click(function(){
                    document.getElementById("burst_times").innerHTML='<h3 style="font-weight: 100;color: white;">Enter Burst times</h3>'
                    document.getElementById("arrival_times").innerHTML='<h3 style="font-weight: 100;color: white;">Enter Arrival times</h3>';
                    $("#arrival_times").fadeIn();
                    $("#simulate").fadeIn();

                    $("#burst_times").fadeIn();
                    var n=$("#number_of_processes").val();
                    var i;
                    for(i=0;i<n;i+=1)
                    {
                        $("#arrival_times").append("<input style='width:5%' id='arrival_time"+i+"' > ");
                        $("#burst_times").append("<input style='width:5%' id='burst_time"+i+"' > ");
                    }
                });
                $("#rr").click(function(){
                    $("#extra1").fadeOut(0);
                    $("#extra2").fadeIn();
                    document.getElementById("extra2").innerHTML='<h3 style="font-weight: 100;color: white;">Enter time quantum</h3>'
                    $("#extra2").append("<input id='time_quantum' name='whut'>")
                    x = "rr";
                });

                $("#priority").click(function(){
                    $("#extra2").fadeOut(0);
                    $("#extra1").fadeIn()
                    document.getElementById("extra1").innerHTML='<h3 style="font-weight: 100;color: white;">Enter Priority</h3>'

                    var n=$("#number_of_processes").val();
                    var i;
                    for(i=0;i<n;i+=1)
                    {
                        $("#extra1").append("<input style='width:5%' id='priority"+i+"'>")
                    }
                    x="priority";
                });

                $("#fcfs").click(function(){
                    $("#extra2").fadeOut(0);
                    $("#extra1").fadeOut(0);
                    x="fcfs";
                });

                $("#sjf").click(function(){
                    $("#extra2").fadeOut(0);
                    $("#extra1").fadeOut(0);
                    x="sjf";
                });

                $("#simulate").click(function(){
                n = $("#number_of_processes").val();
                    arrt = [];
                brst = [];

                if(x=="rr")
                    {
                    for(i=0;i<n;i++)
                        {
                arrt.push(JSON.stringify($("#arrival_time" + String(i)).val()))
                        }
                    for(i=0;i<n;i++)
                        {
                brst.push(JSON.stringify($("#burst_time" + String(i)).val()))
                        }
                        var tq=JSON.stringify($("#time_quantum").val())
                     $.post('/sched/processing/',{
        algo: JSON.stringify(x),timeq: tq ,at: arrt, bt: brst, number: JSON.stringify(n)},function(result){
        $("#main").toggleClass("hide");
                        $("#res").toggleClass("hide");
                        $("body").css({'background-color': '#ffffff'  })
                        printing(result)
    });
                    }

                    else if(x=="sjf")
                    {
                        for(i=0;i<n;i++)
                        {
                arrt.push(JSON.stringify($("#arrival_time" + String(i)).val()))
                        }
                    for(i=0;i<n;i++)
                        {
                brst.push(JSON.stringify($("#burst_time" + String(i)).val()))
                        }


                    $.post('/sched/processing/',{
                        algo: JSON.stringify(x),at:arrt,bt:brst,number:JSON.stringify(n)
                    },function(result){
                        $("#main").toggleClass("hide");
                        $("#res").toggleClass("hide");
                        $("body").css({'background-color': '#ffffff'  })
                        printing(result)
                    });
                    }

                    else if(x=="fcfs")
                    {
                        for(i=0;i<n;i++)
                        {
                arrt.push(JSON.stringify($("#arrival_time" + String(i)).val()))
                        }
                    for(i=0;i<n;i++)
                        {
                brst.push(JSON.stringify($("#burst_time" + String(i)).val()))
                        }


                    $.post('/sched/processing/',{
                        algo: JSON.stringify(x),at:arrt,bt:brst,number:JSON.stringify(n)
                    },function(result){
                        $("#main").toggleClass("hide");
                        $("#res").toggleClass("hide");
                        $("body").css({'background-color': '#ffffff'  })
                        printing(result)
                    });
                    }

                    else if(x=="priority")
                    {
                        prior = [];
                        for(i=0;i<n;i++)
                        {
                arrt.push(JSON.stringify($("#arrival_time" + String(i)).val()))
                        }
                    for(i=0;i<n;i++)
                        {
                brst.push(JSON.stringify($("#burst_time" + String(i)).val()))
                prior.push(JSON.stringify($("#priority" + String(i)).val()))
                        }




                    $.post('/sched/processing/',{
                        algo: JSON.stringify(x),at:arrt,bt:brst,priorities: prior,number:JSON.stringify(n)
                    },function(result){
                        //localStorage.setItem("result",result);
                        //window.location="http://127.0.0.1:8000/sched/processing/result";
                        $("#main").toggleClass("hide");
                        $("#res").toggleClass("hide");
                        $("body").css({'background-color': '#ffffff'  })
                        printing(result)

                        //document.getElementsByTagName('BODY')[0].innerHTML = '';
                    //document.getElementsByTagName('BODY')[0].innerHTML = result['table'][0];
                    });
                    }



                });

            });
        </script>
        <style>

        a.animated-button.thar-four {
            color: #fff;
            cursor: pointer;
            display: block;
            position: relative;
            border: 2px solid #34495e;
            transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
        0s;
        }
        a.animated-button.thar-four:hover {
            color: #fff !important;
            background-color: transparent;
            text-shadow: nfour;
        }
        a.animated-button.thar-four:hover:before {
            right: 0%;
            left: auto;
            width: 100%;
        }
        a.animated-button.thar-four:before {
            display: block;
            position: absolute;
            top: 0px;
            left: 0px;
            height: 100%;
            width: 0px;
            z-index: -1;
            content: '';
            color: #000 !important;
            background: #34495e;
            transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
        0s;
        }
            #backBtn {
          position: absolute;
          background-color: #333;
          color: white;
          bottom: 10px;
          left: 0;
          margin: 20px;
          border: 1px solid white;
          padding : 5px 15px;
          box-shadow: 1px 1px 1px white;
        }

        #statusbar {
          background: linear-gradient( rgba(0, 0, 0, 0.5) , rgba(0, 0, 0, 0.7));
          color : white;
          padding: 1px 20px 1px 20px;
          box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
        }
        .fakeIcons {
          float: right;
          height: 13px;
        }

        #fake {
          margin: 5px;
          size : 50px;
          height: 100%;
        }

        </style>


    </head>
    <body style="background-color: #1dd1a1;font-family: 'Lato', sans-serif;">
        <div id="statusbar" class="row">
        <span id = "status">OS Simulator - Process Scheduling</span>
        <span class="fakeIcons">
          <i class="fas fa-wifi" id="fake" title="Connected to NITK-NET"></i>
          <i class="fas fa-battery-three-quarters" id="fake" title=" 78% "></i>
          <i class="fas fa-volume-up" id="fake"></i>
        </span>
      </div>

        <div class="hide" id="res">

            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3>
                        Gantt chart
                    </h3>
                </div>
            <div id="gantth"></div>
    <br><br>
        <div id="outer-div">
        </div>
    <br><br>
            </div>
    <div class="panel panel-warning" style="width:50%;float:left;">
    <div class="panel-heading">
  	 <h3>Operations Taking Place</h3>
    </div>
    <div id="comments" class="panel-content">
    </div>
            </div>
    <div class="panel panel-warning" style="width:50%;float:left;">
    <div class="panel-heading">
  	 <h3>Table</h3>
    </div>
  	 <div class="panel-content">
	   <table id="ptab" class="table table-bordered">
 	  <thead>
 	  <tr id="thead">
 	  <th>PNO.</th>
    <th>Priority</th>
	   <th>Arrival time</th>
	<th>Burst time</th>
	<th>Completion time</th>
	<th>Waiting time</th>
	<th>Turn-around time</th>
	</tr>
	<tbody id="ptable">

	</tbody>
	</thead>
	</table>
  	</div>
  	</div>

        </div>

    <div id="main">
        {% csrf_token %}
        <h1 class="text-center" style="font-weight: 100;color:white">
            Scheduling Algorithms
        </h1>
        <input style="width:25%;" class="center-block form-control" step="color:black;" id="number_of_processes"  placeholder="Enter number of processes">
        <br>
        <div class="col-sm-offset-5 col-sm-2 col-xs-6">
            <a style="margin-left: 0px;" id="continue" class="btn btn-sm animated-button thar-four">Continue</a>
        </div>
        <br>
        <br>
        <br>
        <div class="col-sm-12">
            <div class="center-block" style="display:none" id="arrival_times">
                <h3 style="font-weight: 100;color: white;">Enter arrival times</h3>
            </div>
            <div style="display:none" id="burst_times">
                <h3 style="font-weight: 100;color: white;"> Enter burst times</h3>
            </div>
            <br><br>

        </div>
        <div style="margin-left: 50px;" class="col-sm-2 col-xs-6">
            <a style="margin-left: 0px;" id="fcfs" class="btn btn-sm animated-button thar-four">FCFS</a>
        </div>

        <div class="col-sm-2 col-sm-offset-1 col-xs-6">
            <a style="margin-left: 0px;" id="priority" class="btn btn-sm animated-button thar-four">Priority</a>
        </div>

        <div class="col-sm-2 col-sm-offset-1 col-xs-6">
            <a style="margin-left: 0px;" id="rr" class="btn btn-sm animated-button thar-four">Round Robin</a>
        </div>

        <div class="col-sm-2 col-sm-offset-1 col-xs-6">
            <a style="margin-left: 0px;" id="sjf" class="btn btn-sm animated-button thar-four">Shortest Job First</a>
        </div>
        <br><br>
        <div style="display: none;" id="extra1" class="col-sm-12">

        </div>

        <div style="display: none;" id="extra2" class="col-sm-12">

        </div>
        <div style="display: none;" id="simulate">

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div style="margin-top: 50px;" class="col-sm-offset-5 col-sm-2 col-xs-6">
            <a id="rr" class="btn btn-sm animated-button thar-four">Simulate</a>
        </div>
        </div>
      </form>
    </div>
    <div id="backBtn" >
        <a href="{% url 'index2'%}">Back</a>
      </div>
    </body>

</html>
